/src/main/java/bg/tu_varna/sit/library/application/ConfigurationDatabase.java
/target/
/.idea/
/application.log
/library.iml
/src/main/resources/bg/tu_varna/sit/library/presentation.views/addBook/images/book_images/
